@font-face {
    font-family: 'Julius Sans';
    src: url('../fonts/Julius Sans.woff2');
}

.master {
    background-attachment: fixed;
    background-image: url("../img/backgrounds/landing.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}

.fa {
    color: white;
}

.glyphicon {
    width: 8%;
}

.tops {
    padding-top: 15%;
    padding-bottom: 15%;
}

body {
    margin-left: 0;
    margin-right: 0;
}

.first {
    padding-top: 5em;
    padding-bottom: 2em;
}

.second {
    padding-top: 2em;
    padding-bottom: 5em;
}

.first h3,
.second h3 {
    font-family: "Julius Sans", sans-serif;
}

.first h1,
.second h1 {
    font-family: 'Roboto Slab', serif;
}

.tabs {
    background-attachment: scroll;
    background-image: url("../img/backgrounds/foodsBg.jpg");
    background-size: cover;
    padding-top: 6em;
    padding-bottom: 7em;
    color: white;
}

.new-container {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5em;
    padding-bottom: 5em;
}

.customers {
    box-shadow: 2px 4px 12px 2px #DCDCDC;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: 'Roboto Slab', serif;
    color: rgb(65, 63, 63);
}

.customers h3 {
    color: #F15A29;
}

.col-md-7 {
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
}

.col-md-5 {
    text-align: center;
    padding-left: 4em;
    padding-right: 4em;
    border-left: solid;
    border-width: thin;
    border-color: rgba(128, 128, 128, 0.57);
}

.subscribe {
    background-attachment: scroll;
    background-image: url("../img/backgrounds/subscribe.jpg");
    background-size: cover;
    padding-top: 8.5em;
    padding-bottom: 8.5em;
    color: white;
    text-align: center;
}

.nav {
    background-color: #D3D3D3;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs a {
    font-family: 'Scope One', serif;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.nav-food {
    border: solid gray;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-width: 0.01em;
}

.nav-food:hover a {
    color: #F15A29;
}

.col-food {
    padding: 0;
    color: #F15A29;
    font-family: 'Roboto Slab', serif;
    width: auto;
    text-align: center;
}

.row-food {
    display: flex;
    justify-content: center;
}

.col-food img {
    padding: 1em;
}

.nav-food:active a {
    color: #F15A29;
}

.subscribe h2 {
    font-family: 'Julius Sans', sans-serif;
}

.ending {
    background-color: #F15A29;
}

.end-text {
    color: white;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.ffoods {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: white;
    text-align: center;
}

.ffoods i {
    color: #F15A29;
}

.ffoods a {
    padding-top: 10%;
}

.col-md-7 i {
    color: #F15A29;
}

.btn-lg:hover {
    background-color: #F15A29;
    color: white;
}

.btn-lg {
    color: #F15A29;
    border-color: #F15A29;
    font-family: 'Julius Sans', sans-serif;
    font-size: bold;
}

.col-md-3 {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.foods img {
    opacity: 1;
    width: 100%;
}

.text-meal {
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foods:hover,
.img-food {
    opacity: 0.3;
    cursor: pointer;
    color: white;
}

.foods:hover .text-meal {
    opacity: 1;
}

.meal {
    color: white;
    font-size: 300%;
    font-family: 'Caveat';
    font-style: bold;
}

.foodtop {
    text-align: center;
    color: white;
}

.foodtop p {
    padding-top: 30%;
    padding-bottom: 30%;
}

.session {
    padding-top: 11%;
    padding-bottom: 10%;
}

.session-link {
    font-family: 'Roboto Slab', serif;
    font-size: 150%;
}

.session-link:hover {
    text-decoration: none;
}

.s-one {
    background-color: #F15A29;
}

.s-one a {
    color: white;
}

.modal-dialog {
    background-color: rgba(36, 33, 33, 0.644);
    height: 140vh;
    width: 80vw;
}

.close {
    z-index: 10;
}

.group-pics {
    box-shadow: 1px 2px 3px 3px #DCDCDC;
    text-align: center;
    padding: 3%;
    border-radius: 0;
    vertical-align: middle;
}

.ffods img {
    width: 100%;
}

.drnks img {
    width: auto;
}

.text-second {
    text-align: right;
    padding-right: 5em;
}

.text-first {
    padding-left: 5em;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.315);
    border-width: 0;
    padding-right: 5em;
    margin-right: 3em;
    vertical-align: middle;
    color: black;
}

.tops {
    font-family: 'Julius Sans', sans-serif;
}

/* .btn-menu{
    text-align: left;
    padding-top: 11%;
    padding-left: 10%;
} */

div.nav {
    background-color: rgba(255, 255, 255, 0);
    text-align: right;
    padding-top: 5%;
    padding-right: 5%;
}

.nav .fa {
    color: rgb(216, 205, 201);
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.menutop {
    background-color: rgba(241, 91, 41, 0.652);
    height: 100vh;
    transition: 0.5s;
    position: fixed;
    z-index: 5;
    overflow-x: hidden;
    width: 0;
}

.menutop-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menutop a {
    padding: 0;
    text-decoration: none;
    font-size: 70px;
    color: #000000;
    display: block;
    transition: 0.3s;
    font-family: 'Caveat';
}

.menutop a:hover,
.menutop a:focus {
    color: rgb(247, 247, 247);
    font-family: 'Covered By Your Grace';
    transform-style: 0.5s;
}

.menutop .closebtn {
    position: absolute;
    top: 1em;
    right: 2em;
    font-size: 70px;
}

.nav a:hover {
    cursor: pointer;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.close .closebtn {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    font-size: 70px;
    text-decoration: none;
}

.modal-body {
    color: #F15A29;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
}

.modal-body img {
    width: 80%;
}

@media screen and (max-width:991px) {
    .col-md-5 {
        text-align: center;
        padding-left: 4em;
        padding-right: 4em;
        border-left: 0;
        border-width: thin;
        border-color: rgba(128, 128, 128, 0.57);
    }
    .modal-body img {
        width: 70%;
    }
    .modal-dialog {
        height: 90vh;
    }
    .col-food img {
        padding: 0;
        width: 50%;
    }
}

#mc_embed_signup {
    /* background: #fff; */
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

#mc-embedded-subscribe {
    background-color: #F15A29;
    border-color: #F15A29;
    width: 140px;
    color: white;
}
#mc_embed_signup .mc-field-group input{
    width: 30%;
    margin-left: 40%;
    margin-bottom: 1%;
    padding: 0;
}
.mc-field-group{
    text-align: center;
    padding-bottom: 0;
}